In [9]:
import numpy
import pandas
import math
import matplotlib.pyplot as graphs
import predictor
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

In [10]:
table = pandas.read_csv('train.csv')
table.head()

,id,timestamp,full_sq,life_sq,floor,product_type,sub_area,area_m,raion_popul,green_zone_part,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,8/20/2011,43,27.0,4.0,Investment,Bibirevo,6.407578e+06,155572,0.189727,...,9,4,0,13,22,1,0,52,4,5850000
1,2,8/23/2011,34,19.0,3.0,Investment,Nagatinskij Zaton,9.589337e+06,115352,0.372602,...,15,3,0,15,29,1,10,66,14,6000000
2,3,8/27/2011,43,29.0,2.0,Investment,Tekstil'shhiki,4.808270e+06,101708,0.112560,...,10,3,0,11,27,0,4,67,10,5700000
3,4,9/1/2011,89,50.0,9.0,Investment,Mitino,1.258354e+07,178473,0.194703,...,11,2,1,4,4,0,0,26,3,13100000
4,5,9/5/2011,77,77.0,4.0,Investment,Basmannoe,8.398461e+06,108171,0.015234,...,319,108,17,135,236,2,91,195,14,16331452

In [11]:
notNumerical = []
for i in table.drop('price_doc', axis = 1):
    if (table[i].dtype.name == 'object'):
        notNumerical.append(i)
numerical = []
for i in table.drop('price_doc', axis = 1):
    if (table[i].dtype.name != 'object'):
        numerical.append(i)
for z in notNumerical:
    labelsMap = dict()
    for i, j in enumerate(table[z].unique()):
        if (not j in labelsMap.keys()):
            labelsMap[j] = i
    table[z] = table[z].map(labelsMap)
table.head()

,id,timestamp,full_sq,life_sq,floor,product_type,sub_area,area_m,raion_popul,green_zone_part,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,0,43,27.0,4.0,0,0,6.407578e+06,155572,0.189727,...,9,4,0,13,22,1,0,52,4,5850000
1,2,1,34,19.0,3.0,0,1,9.589337e+06,115352,0.372602,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2,43,29.0,2.0,0,2,4.808270e+06,101708,0.112560,...,10,3,0,11,27,0,4,67,10,5700000
3,4,3,89,50.0,9.0,0,3,1.258354e+07,178473,0.194703,...,11,2,1,4,4,0,0,26,3,13100000
4,5,4,77,77.0,4.0,0,4,8.398461e+06,108171,0.015234,...,319,108,17,135,236,2,91,195,14,16331452

In [18]:
x = table.drop('price_doc', axis = 1)
y = table['price_doc']
SI = SimpleImputer(strategy='mean')
x = SI.fit_transform(x)

In [19]:
reg = LinearRegression().fit(x, y)