In [9]:
import numpy
import pandas
import math
import matplotlib.pyplot as graphs
import predictor
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

In [10]:
table = pandas.read_csv('train.csv')
table.head()

,id,timestamp,full_sq,life_sq,floor,product_type,sub_area,area_m,raion_popul,green_zone_part,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,8/20/2011,43,27.0,4.0,Investment,Bibirevo,6.407578e+06,155572,0.189727,...,9,4,0,13,22,1,0,52,4,5850000
1,2,8/23/2011,34,19.0,3.0,Investment,Nagatinskij Zaton,9.589337e+06,115352,0.372602,...,15,3,0,15,29,1,10,66,14,6000000
2,3,8/27/2011,43,29.0,2.0,Investment,Tekstil'shhiki,4.808270e+06,101708,0.112560,...,10,3,0,11,27,0,4,67,10,5700000
3,4,9/1/2011,89,50.0,9.0,Investment,Mitino,1.258354e+07,178473,0.194703,...,11,2,1,4,4,0,0,26,3,13100000
4,5,9/5/2011,77,77.0,4.0,Investment,Basmannoe,8.398461e+06,108171,0.015234,...,319,108,17,135,236,2,91,195,14,16331452

In [11]:
notNumerical = []
for i in table.drop('price_doc', axis = 1):
    if (table[i].dtype.name == 'object'):
        notNumerical.append(i)
numerical = []
for i in table.drop('price_doc', axis = 1):
    if (table[i].dtype.name != 'object'):
        numerical.append(i)
for z in notNumerical:
    labelsMap = dict()
    for i, j in enumerate(table[z].unique()):
        if (not j in labelsMap.keys()):
            labelsMap[j] = i
    table[z] = table[z].map(labelsMap)
table.head()

,id,timestamp,full_sq,life_sq,floor,product_type,sub_area,area_m,raion_popul,green_zone_part,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,0,43,27.0,4.0,0,0,6.407578e+06,155572,0.189727,...,9,4,0,13,22,1,0,52,4,5850000
1,2,1,34,19.0,3.0,0,1,9.589337e+06,115352,0.372602,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2,43,29.0,2.0,0,2,4.808270e+06,101708,0.112560,...,10,3,0,11,27,0,4,67,10,5700000
3,4,3,89,50.0,9.0,0,3,1.258354e+07,178473,0.194703,...,11,2,1,4,4,0,0,26,3,13100000
4,5,4,77,77.0,4.0,0,4,8.398461e+06,108171,0.015234,...,319,108,17,135,236,2,91,195,14,16331452

In [12]:
x = table.drop('price_doc', axis = 1)
y = table['price_doc']

In [7]:
reg = LinearRegression().fit(x, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [14]:
SI = SimpleImputer(strategy='mean')
x = SI.fit_transform(x)

array([[1.0000e+00, 0.0000e+00, 4.3000e+01, ..., 0.0000e+00, 5.2000e+01,
        4.0000e+00],
       [2.0000e+00, 1.0000e+00, 3.4000e+01, ..., 1.0000e+01, 6.6000e+01,
        1.4000e+01],
       [3.0000e+00, 2.0000e+00, 4.3000e+01, ..., 4.0000e+00, 6.7000e+01,
        1.0000e+01],
       ...,
       [3.0471e+04, 1.1600e+03, 4.5000e+01, ..., 1.0000e+00, 1.1000e+01,
        1.0000e+00],
       [3.0472e+04, 1.1600e+03, 6.4000e+01, ..., 4.0000e+00, 6.5000e+01,
        7.0000e+00],
       [3.0473e+04, 1.1600e+03, 4.3000e+01, ..., 9.0000e+00, 5.4000e+01,
        1.0000e+01]])

,id,timestamp,full_sq,life_sq,floor,product_type,sub_area,area_m,raion_popul,green_zone_part,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,1,0,43,27.0,4.0,0,0,6.407578e+06,155572,0.189727,...,40,9,4,0,13,22,1,0,52,4
1,2,1,34,19.0,3.0,0,1,9.589337e+06,115352,0.372602,...,36,15,3,0,15,29,1,10,66,14
2,3,2,43,29.0,2.0,0,2,4.808270e+06,101708,0.112560,...,25,10,3,0,11,27,0,4,67,10
3,4,3,89,50.0,9.0,0,3,1.258354e+07,178473,0.194703,...,15,11,2,1,4,4,0,0,26,3
4,5,4,77,77.0,4.0,0,4,8.398461e+06,108171,0.015234,...,552,319,108,17,135,236,2,91,195,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30466,30469,1160,44,27.0,7.0,0,22,1.005305e+07,175518,0.096270,...,47,15,5,0,15,26,1,2,84,6
30467,30470,1160,86,59.0,3.0,0,103,7.307411e+06,75377,0.065444,...,511,313,128,24,98,182,1,82,171,15
30468,30471,1160,45,NaN,10.0,1,132,2.553630e+07,4001,0.496315,...,5,1,1,0,2,12,0,1,11,1
30469,30472,1160,64,32.0,5.0,0,55,6.050065e+06,78616,0.167526,...,58,22,1,1,6,31,1,4,65,7
30470,30473,1160,43,28.0,1.0,0,40,4.395333e+06,94561,0.063755,...,22,5,2,0,7,16,0,9,54,10